<!DOCTYPE html>
<html lang="en">
<head id="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>Dashboard</title>
</head>
<body>
    <header class="header">
        <section class="flex">
            <a href="home.html" class="logo">Learn-Craft</a>

            <form action="/search" method="POST" class="search-form">
                <input type="text" name="search_box" placeholder="Search Courses...." required maxlength="100">
                <button type="submit" class="fas fa-search" name="search_box"></button>
            </form>

            <div class="icons">
                <div id="menu-btn" class="fas fa-bars"></div>
                <div id="search-btn" class="fas fa-search"></div>
                <div id="user-btn" class="fas fa-user"></div>
                <div id="language-btn" class="fas fa-language"></div>
                <div id="toggle-btn" class="fas fa-sun"></div>
            </div>
            <div class="profile">
                <img src="/IMG/pic-1.jpg" alt="">
                <h3><%= user ? user.name : 'Guest' %></h3>
                <span>Student</span>
                <% if (user) { %>
                <a href="profile.html" class="btn">View Profile</a>
                <% } else { %>
                <div class="flex-btn">
                    <a href="login.html" class="option-btn">login</a>
                    <a href="register.html" class="option-btn">Register</a>
                </div>
                <% } %>
            </div>
        </section>
    </header>

    <!-- side bar section starts -->
    <div class="side-bar">
      <div class="close-side-bar">
          <i class="fas fa-times"></i>
      </div>

      <div class="profile">
          <img src="/IMG/defaltloginimage.png" alt="">
          <% if (user) { %>
              <h3><%= user.name %></h3>
              <span>Student</span>
              <a href="profile.ejs" class="btn">View Profile</a>
              <a href="/api/auth/logout" class="btn">Logout</a>
          <% } else { %>
              <div class="flex-btn">
                  <a href="login.ejs" class="option-btn">login</a>
                  <a href="register.ejs" class="option-btn">Register</a>
              </div>
          <% } %>
      </div>
        <nav class="navbar">
            <a href="home.html"><i class="fas fa-home"></i><span>Home</span></a>
            <a href="about.html"><i class="fas fa-question"></i><span>About Us</span></a>
            <a href="courses.html"><i class="fas fa-graduation-cap"></i><span>Courses</span></a>
            <a href="teachers.html"><i class="fas fa-chalkboard-user"></i><span>Tutors</span></a>
            <a href="blog.html"><i class="fas fa-blog"></i><span>Blogs</span></a>
            <a href="contact.html"><i class="fas fa-headset"></i><span>Contact Us</span></a>
        </nav>
    </div>
    <!-- side bar section ends -->
    <section class="home">

        <div class="image">
            <img src="../IMG/home-img.png" alt="">
        </div>
    
        <div class="content">
            <h3>Your course to success</h3>
            <p>Learn-Craft is an innovative global edtech leader at the intersection of content, media and technology. Join us in shaping future in education.</p>
            <a href="#" class="btn">Get Started</a>
        </div>
    
      </section>
    
      <!-- Home display page ends -->
      <!-- Quick select section starts -->
      <section class="quick-select">
        <h1 class="heading"> Quick Options</h1>
    
      <div class="box-container">
        <div class="box">
          <h3 class="title">Likes and Comments</h3>
          <p>Total Likes: <span>14</span></p>
          <a href="#" class="inline-btn">View Likes</a>
          <p>Total Comments: <span>5</span></p>
          <a href="#" class="inline-btn">View Comments</a>
          <p>Saved Playlist: <span>3</span></p>
          <a href="#" class="inline-btn">View Playlists</a>
        </div>
    
        <div class="box">
          <h3 class="title">Top Categories</h3>
          <div class="flex">
            <a href="web_development.html"><i class="fas fa-code"></i><span> Development</span></a>
            <a href="business.html"><i class="fas fa-chart-simple"></i><span>Business</span></a>
            <a href="design.html"><i class="fas fa-pen"></i><span>Design</span></a>
            <a href="marketing.html"><i class="fas fa-chart-line"></i><span>Marketing</span></a>
            <a href="personal_development.html"><i class="fas fa-face-smile"></i><span>Personal Development</span></a>
            <a href="it.html"><i class="fas fa-computer"></i><span>IT</span></a>
            <a href="software.html"><i class="fas fa-cog"></i><span>Software</span></a>
            <a href="science.html"><i class="fas fa-vial"></i><span>Science</span></a>
          </div>
        </div>
    
        <div class="box">
          <h3 class="title">Popular Topics</h3>
          <div class="flex">
            <a href="playlist.html"><i class="fab fa-html5"></i><span> HTML5</span></a>
            <a href="playlist.html"><i class="fab fa-css3"></i><span>CSS</span></a>
            <a href="playlist.html"><i class="fab fa-js"></i><span>Javascript</span></a>
            <a href="playlist.html"><i class="fab fa-react"></i><span>React</span></a>
            <a href="playlist.html"><i class="fab fa-php"></i><span>PHP</span></a>
            <a href="playlist.html"><i class="fab fa-bootstrap"></i><span>Bootstrap</span></a>
            
          </div>
        </div>
    
      </div>
      </section>
    
      <!-- Quick select section ends -->
    
    
      <section class="instructor">
        <div class="instructor-container">
          <h2>Become an instructor with Bright Future Platform</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <button class="teacher-btn btn">Your Details</button>
        </div>
      </section>
    
      
      <!-- Courses Section starts -->
      <section class="courses">
        <h1 class="heading">Our Popular Courses</h1>
    
        <div class="box-container">
    
          <div class="box">          
            <div class="tutor">
              <img src="../IMG/pic-2.jpg" alt="pic2">
              <div>
                <h3>John Deo</h3>
                <span>21-25-2022</span>
              </div>
            </div>
            <img src="../IMG/thumb-1.png" class="thumb" alt="thumb1">
            <h3 class="title">Complete Html Tutorial</h3>
            <a href="playlist.html" class="inline-btn">View Playlist</a>
          </div>
    
          <div class="box">          
            <div class="tutor">
              <img src="../IMG/pic-3.jpg" alt="pic2">
              <div>
                <h3>John Deo</h3>
                <span>21-25-2022</span>
              </div>
            </div>
            <img src="../IMG/thumb-2.png" class="thumb" alt="thumb1">
            <h3 class="title">Complete CSS Tutorial</h3>
            <a href="playlist.html" class="inline-btn">View Playlist</a>
          </div>
    
          <div class="box">          
            <div class="tutor">
              <img src="../IMG/pic-4.jpg" alt="pic2">
              <div>
                <h3>John Deo</h3>
                <span>21-25-2022</span>
              </div>
            </div>
            <img src="../IMG/thumb-3.png" class="thumb" alt="thumb1">
            <h3 class="title">Complete JS Tutorial</h3>
            <a href="playlist.html" class="inline-btn">View Playlist</a>
          </div>
    
          <div class="box">          
            <div class="tutor">
              <img src="../IMG/pic-5.jpg" alt="pic2">
              <div>
                <h3>John Deo</h3>
                <span>21-25-2022</span>
              </div>
            </div>
            <img src="../IMG/thumb-4.png" class="thumb" alt="thumb1">
            <h3 class="title">Complete Bootstrap Tutorial</h3>
            <a href="playlist.html" class="inline-btn">View Playlist</a>
          </div>
    
          <div class="box">          
            <div class="tutor">
              <img src="../IMG/pic-6.jpg" alt="pic2">
              <div>
                <h3>John Deo</h3>
                <span>21-25-2022</span>
              </div>
            </div>
            <img src="../IMG/thumb-5.png" class="thumb" alt="thumb1">
            <h3 class="title">Complete JQuery Tutorial</h3>
            <a href="playlist.html" class="inline-btn">View Playlist</a>
          </div>
    
          <div class="box">          
            <div class="tutor">
              <img src="../IMG/pic-7.jpg" alt="pic2">
              <div>
                <h3>John Deo</h3>
                <span>21-25-2022</span>
              </div>
            </div>
            <img src="../IMG/thumb-6.png" class="thumb" alt="thumb1">
            <h3 class="title">Complete SASS Tutorial</h3>
            <a href="playlist.html" class="inline-btn">View Playlist</a>
          </div>
    
        </div>
        <div class="more-btn">
          <a href="courses.html" class="inline-option-btn">View More</a>
        </div>
      </section>
    <!-- Main content -->
    <div class="content">
        <h1>Welcome, <%= user.name %>!</h1>
        <!-- Add more content here -->
    </div>

    <!-- footer section starts -->
    <footer class="footer">
        <div class="footer-1">
            <div>
                <a href="#">Privacy Policy</a>
            </div>
            <div>
                <a href="#">Cookies</a>
            </div>
            <div>
                <a href="#">Use and Help</a>
            </div>
            <div>
                <a href="#">About us</a>
            </div>
            <div>
                <a href="#">Term of Use</a>
            </div>
        </div>
        &copy; copyright @ 2022 by <span>Hasti Donga</span> | all rights reserved!
    </footer>
    <!-- footer section ends -->
    <script type="text/javascript" src="/JS/javascript.js"></script>
</body>
</html>
