<div class="side-bar">
    <div class="close-side-bar">
      <i class="fas fa-times"></i>
    </div>
    <div class="profile">
      <img src="/IMG/pic-1.jpg" alt="">
      <h3><%= user ? user.name : 'Guest' %></h3>
      <span>Student</span>
      <% if (user) { %>
      <a href="profile.html" class="btn">View Profile</a>
      <% } %>
    </div>
    <nav class="navbar">
      <a href="home.html"><i class="fas fa-home"></i><span>Home</span></a>
      <a href="about.html"><i class="fas fa-question"></i><span>About Us</span></a>
      <a href="courses.html"><i class="fas fa-graduation-cap"></i><span>Courses</span></a>
      <a href="teachers.html"><i class="fas fa-chalkboard-user"></i><span>Tutors</span></a>
      <a href="blog.html"><i class="fas fa-blog"></i><span>Blogs</span></a>
      <a href="contact.html"><i class="fas fa-headset"></i><span>Contact Us</span></a>
    </nav>
  </div>
  