<!DOCTYPE html>
<html lang="en">
  <head id="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="robots" content="noindex, nofollow" >
    <!-- add the CSS -->
    <link rel="stylesheet" href="../CSS/style.css">
    <!-- FOnt Awesome Link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>About</title>
  </head>
  <body>
    <!-- header section Starts -->
    <header class="header"></header>
    <!-- header section ends -->
    <!-- side bar section starts -->
    <div class="side-bar">
        <div class="close-side-bar">
            <i class="fas fa-times"></i>
        </div>

        <div class="profile">
            <img src="/IMG/defaltloginimage.png" alt="">
            <% if (user) { %>
                <h3><%= user.name %></h3>
                <span>Student</span>
                <a href="profile.ejs" class="btn">View Profile</a>
                <a href="/api/auth/logout" class="btn">Logout</a>
            <% } else { %>
                <div class="flex-btn">
                    <a href="login.ejs" class="option-btn">login</a>
                    <a href="register.ejs" class="option-btn">Register</a>
                </div>
            <% } %>
        </div>

        <nav class="navbar">
            <a href="home.ejs"><i class="fas fa-home"></i><span>Home</span></a>
            <a href="about.ejs"><i class="fas fa-question"></i><span>About Us</span></a>
            <a href="courses.ejs"><i class="fas fa-graduation-cap"></i><span>Courses</span></a>
            <a href="teachers.ejs"><i class="fas fa-chalkboard-user"></i><span>Tutors</span></a>
            <a href="blog.ejs"><i class="fas fa-blog"></i><span>Blogs</span></a>
            <a href="contact.ejs"><i class="fas fa-headset"></i><span>Contact Us</span></a>
        </nav>
    </div>

  <!-- side bar section ends -->
   

  <!-- blog section starts  -->

  <section class="blog">

    <h1 class="heading">Popular Blogs</h1>
    <form action="" method="post" class="search-tutor">
      <input type="text" name="search_box" maxlength="100" placeholder="Search blog....." required>
      <button type="submit" name="search_tutor" class="fas fa-search"></button>
    </form>

    <div class="box-container">
        <div class="box">
            <div>
                <div class="image">
                    <img src="../IMG/blog-1.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-clock"></i> 21st may, 2021 </a>
                        <a href="#"> <i class="fas fa-user"></i> by admin </a>
                    </div>
                    <h3>learning is what makes you perfect</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quaerat!</p>
                    <a href="view_blog.ejs" class="btn">read more</a>
                </div>
            </div>
        </div>
    
        <div class="box">
            <div>
                <div class="image">
                    <img src="../IMG/blog-2.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-clock"></i> 21st may, 2021 </a>
                        <a href="#"> <i class="fas fa-user"></i> by admin </a>
                    </div>
                    <h3>learning is what makes you perfect</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quaerat!</p>
                    <a href="view_blog.ejs" class="btn">read more</a>
                </div>
            </div>
        </div>
    
        <div class="box">
            <div>
                <div class="image">
                    <img src="../IMG/blog-3.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-clock"></i> 21st may, 2021 </a>
                        <a href="#"> <i class="fas fa-user"></i> by admin </a>
                    </div>
                    <h3>learning is what makes you perfect</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quaerat!</p>
                    <a href="view_blog.ejs" class="btn">read more</a>
                </div>
            </div>
        </div>
    
        <div class="box">
            <div>
                <div class="image">
                    <img src="../IMG/blog-4.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-clock"></i> 21st may, 2021 </a>
                        <a href="#"> <i class="fas fa-user"></i> by admin </a>
                    </div>
                    <h3>learning is what makes you perfect</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quaerat!</p>
                    <a href="view_blog.ejs" class="btn">read more</a>
                </div>
            </div>
        </div>
    
        <div class="box">
            <div>
                <div class="image">
                    <img src="../IMG/blog-5.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-clock"></i> 21st may, 2021 </a>
                        <a href="#"> <i class="fas fa-user"></i> by admin </a>
                    </div>
                    <h3>learning is what makes you perfect</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quaerat!</p>
                    <a href="view_blog.ejs" class="btn">read more</a>
                </div>
            </div>
        </div>
    
        <div class="box">
            <div>
                <div class="image">
                    <img src="../IMG/blog-6.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-clock"></i> 21st may, 2021 </a>
                        <a href="#"> <i class="fas fa-user"></i> by admin </a>
                    </div>
                    <h3>learning is what makes you perfect</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quaerat!</p>
                    <a href="view_blog.ejs" class="btn">read more</a>
                </div>
            </div>
        </div>
    
        <div class="box">
            <div>
                <div class="image">
                    <img src="../IMG/blog-7.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-clock"></i> 21st may, 2021 </a>
                        <a href="#"> <i class="fas fa-user"></i> by admin </a>
                    </div>
                    <h3>learning is what makes you perfect</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quaerat!</p>
                    <a href="view_blog.ejs" class="btn">read more</a>
                </div>
            </div>
        </div>
    
        <div class="box">
            <div>
                <div class="image">
                    <img src="../IMG/blog-8.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-clock"></i> 21st may, 2021 </a>
                        <a href="#"> <i class="fas fa-user"></i> by admin </a>
                    </div>
                    <h3>learning is what makes you perfect</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quaerat!</p>
                    <a href="view_blog.ejs" class="btn">read more</a>
                </div>
            </div>
        </div>
    </div>

  </section>

  <!-- blog section ends -->

   <!-- footer section starts -->

    <footer class="footer"></footer>

    <!-- footer section ends -->

    <!-- custom js file link  -->
    <script type="text/javascript" src="../JS/javascript.js"></script>
  </body>
</html>
