<!DOCTYPE html>
<html lang="en">
  <head id="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="robots" content="noindex, nofollow" >
    <!-- add the CSS -->
    <link rel="stylesheet" href="../CSS/style.css">
    <!-- FOnt Awesome Link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>Contact Page</title>
  </head>
  <body>
    <!-- header section Starts -->
    <header class="header"></header>
    <!-- header section ends -->
    <!-- side bar section starts -->
    <div class="side-bar">
        <div class="close-side-bar">
            <i class="fas fa-times"></i>
        </div>

        <div class="profile">
            <img src="/IMG/defaltloginimage.png" alt="">
            <% if (user) { %>
                <h3><%= user.name %></h3>
                <span>Student</span>
                <a href="profile.ejs" class="btn">View Profile</a>
                <a href="/api/auth/logout" class="btn">Logout</a>
            <% } else { %>
                <div class="flex-btn">
                    <a href="login.ejs" class="option-btn">login</a>
                    <a href="register.ejs" class="option-btn">Register</a>
                </div>
            <% } %>
        </div>

        <nav class="navbar">
            <a href="home.ejs"><i class="fas fa-home"></i><span>Home</span></a>
            <a href="about.ejs"><i class="fas fa-question"></i><span>About Us</span></a>
            <a href="courses.ejs"><i class="fas fa-graduation-cap"></i><span>Courses</span></a>
            <a href="teachers.ejs"><i class="fas fa-chalkboard-user"></i><span>Tutors</span></a>
            <a href="blog.ejs"><i class="fas fa-blog"></i><span>Blogs</span></a>
            <a href="contact.ejs"><i class="fas fa-headset"></i><span>Contact Us</span></a>
        </nav>
    </div>


  <!-- side bar section ends -->
   <!-- contact section starts -->
   <section class="contact">

    <div class="row">
      <div class="image">
        <img src="../IMG/contact-img.svg" alt="">
      </div>
      <form action="" method="post">
        <h3>Get in Touch</h3>
        <input type="text" placeholder="Enter your Name" required maxlength="100" name="name" class="box">
        <input type="email" placeholder="Enter your Email" required maxlength="100" name="email" class="box">
        <input type="number" placeholder="Enter your Number" required maxlength="100" name="number" class="box">
        <textarea name="msg" class="box"  placeholder="Enter your Message" cols="30" rows="10" required></textarea>
        <input type="submit" value="send message" class="inline-btn" name="Submit">
        
      </form>
    </div>

    <div class="box-container">
      <div class="box">
        <i class="fas fa-phone"></i>
        <h3>Phone Number</h3>
        <a href="tel:1234567890">123-456-7890</a>
        <a href="tel:1112223333">111-222-3333</a>
      </div>

      <div class="box">
        <i class="fas fa-envelope"></i>
        <h3>Email Address</h3>
        <a href="mailto:shaikhanas@gmail.com">shaikhanas@gmail.com</a>
        <a href="tel:anasbhai@gmail.com">anasbhai@gmail.com</a>
      </div>

      <div class="box">
        <i class="fas fa-map-marker-alt"></i>
        <h3>Office Address</h3>
        <a href="#">100, Stanley St, Barrie, Ontario, L4M 6V5, Canada</a>
      </div>
      

    </div>

   </section>
   <!-- contact section ends -->

   <!-- footer section starts -->
 
    <footer class="footer"></footer>
    <!-- footer section ends -->
    <!-- custom js file link  -->
    <script type="text/javascript" src="../JS/javascript.js"></script>
  </body>
</html>
