<!DOCTYPE html>
<html lang="en">
  <head id="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="robots" content="noindex, nofollow" >
    <!-- add the CSS -->
    <link rel="stylesheet" href="../CSS/style.css">
    <!-- FOnt Awesome Link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>Course Page</title>
  </head>
  <body>
    <!-- header section Starts -->
    <header class="header"></header>
    <!-- header section ends -->
    <!-- side bar section starts -->
    <div class="side-bar">
        <div class="close-side-bar">
            <i class="fas fa-times"></i>
        </div>

        <div class="profile">
            <img src="/IMG/defaltloginimage.png" alt="">
            <% if (user) { %>
                <h3><%= user.name %></h3>
                <span>Student</span>
                <a href="profile.ejs" class="btn">View Profile</a>
                <a href="/api/auth/logout" class="btn">Logout</a>
            <% } else { %>
                <div class="flex-btn">
                    <a href="login.ejs" class="option-btn">login</a>
                    <a href="register.ejs" class="option-btn">Register</a>
                </div>
            <% } %>
        </div>

        <nav class="navbar">
            <a href="home.ejs"><i class="fas fa-home"></i><span>Home</span></a>
            <a href="about.ejs"><i class="fas fa-question"></i><span>About Us</span></a>
            <a href="courses.ejs"><i class="fas fa-graduation-cap"></i><span>Courses</span></a>
            <a href="teachers.ejs"><i class="fas fa-chalkboard-user"></i><span>Tutors</span></a>
            <a href="blog.ejs"><i class="fas fa-blog"></i><span>Blogs</span></a>
            <a href="contact.ejs"><i class="fas fa-headset"></i><span>Contact Us</span></a>
        </nav>
    </div>

  <!-- side bar section ends -->
   
  <!-- Courses Section starts -->
  <section class="courses">
    <h1 class="heading">Our Popular Courses</h1>

    <div class="box-container">

      <div class="box">
        <div class="container">
          <img src="../IMG/development.jpg" class="thumb" alt="thumb1">
          <div class="overlay">
            <div class="description">Learn web development with our step-by-step tutorials, covering everything from HTML and CSS to advanced JavaScript and Node.js
            </div>
          </div>
        </div>          
        <h3 class="title">Web Development Courses</h3>
        <a href="web_development.ejs" class="inline-btn">View Courses</a>
      </div>

      <div class="box"> 
        <div class="container">
          <img src="../IMG/business.jpeg" class="thumb" alt="thumb1">
          <div class="overlay">
            <div class="description">This business course provides essential skills and knowledge for success in management, entrepreneurship, and corporate environments.
            </div>
          </div>
        </div>         
        <h3 class="title">Business Courses</h3>
        <a href="business.ejs" class="inline-btn">View Courses</a>
      </div>

      <div class="box">
        <div class="container">
          <img src="../IMG/design.png" class="thumb" alt="thumb1">
          <div class="overlay">
            <div class="description">Learn to create visually compelling and user-friendly designs with practical techniques and industry insights.
            </div>
          </div>
        </div>
        <h3 class="title">Design Courses</h3>
        <a href="design.ejs" class="inline-btn">View Courses</a>
      </div>

      <div class="box">
        <div class="container">
          <img src="../IMG/marketing.jpg" class="thumb" alt="thumb1">
          <div class="overlay">
            <div class="description">"Master the art of digital marketing with our comprehensive course, designed to elevate your brand and drive measurable results."
            </div>
          </div>
        </div>
        <h3 class="title">Marketing Courses</h3>
        <a href="marketing.ejs" class="inline-btn">View Courses</a>
      </div>

      <div class="box">
        <div class="container">
          <img src="../IMG/software.webp" class="thumb" alt="thumb1">
          <div class="overlay">
            <div class="description">"Comprehensive software course covering fundamental to advanced concepts in application development and programming."
            </div>
          </div>
        </div>
        <h3 class="title">Software Courses</h3>
        <a href="software.ejs" class="inline-btn">View Courses</a>
      </div>

      <div class="box">
        <div class="container">
          <img src="../IMG/science.avif" class="thumb" alt="thumb1">
          <div class="overlay">
            <div class="description">"Explore fundamental principles and cutting-edge developments across various scientific disciplines in this comprehensive course."
            </div>
          </div>
        </div>
        <h3 class="title">Science Courses</h3>
        <a href="science.ejs" class="inline-btn">View Courses</a>
      </div>

      <div class="box">
        <div class="container">
          <img src="../IMG/personal_development.jpg" class="thumb" alt="thumb1">
          <div class="overlay">
            <div class="description">Unlock your potential and achieve personal growth with our comprehensive personal development course.
            </div>
          </div>
        </div>
        <h3 class="title">Personal Development Courses</h3>
        <a href="personal_development.ejs" class="inline-btn">View Courses</a>
      </div>

      <div class="box"> 
        <div class="container">
          <img src="../IMG/it.jpg" class="thumb" alt="thumb1">
          <div class="overlay">
            <div class="description">Comprehensive IT course covering fundamentals of networks, programming, and system administration.
            </div>
          </div>
        </div>
        <h3 class="title">IT Courses</h3>
        <a href="it.ejs" class="inline-btn">View Courses</a>
      </div>

    </div>
    
  </section>
  <!-- Courses Section ends -->

   <!-- footer section starts -->

    <footer class="footer">

      <div class="footer-1">
        <div>
          <a href="#">Privacy Policy</a>
        </div>
        <div>
          <a href="#">Cookies</a>
        </div>
        <div>
          <a href="#">Use and Help</a>
        </div>
        <div>
          <a href="#">About us</a>
        </div>
        <div>
          <a href="#">Term of Use</a>
        </div>
      </div>
      &copy; copyright @ 2022 by <span>Hasti Donga</span> | all rights reserved!

    </footer>
    <!-- footer section ends -->
    <!-- custom js file link  -->
    <script type="text/javascript" src="../JS/javascript.js"></script>
  </body>
</html>
