<div class="footer-1">
    <div>
        <a href="#">Privacy Policy</a>
    </div>
    <div>
        <a href="#">Cookies</a>
    </div>
    <div>
        <a href="#">Use and Help</a>
    </div>
    <div>
        <a href="#">About us</a>
    </div>
    <div>
        <a href="#">Term of Use</a>
    </div>
</div>
&copy; copyright @ 2024 by <span>Hasti Donga</span> | all rights reserved!