<header class="header">
    <section class="flex">
      <a href="home.ejs" class="logo">Learn-Craft</a>
      <form action="" method="post" class="search-form">
        <input type="text" name="search_box" placeholder="Search Courses...." required maxlength="100">
        <button type="submit" class="fas fa-search" name="search_box"></button>
      </form>
      <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="search-btn" class="fas fa-search"></div>
        <div id="user-btn" class="fas fa-user"></div>
        <div id="user-btn" class="fas fa-language"></div>
        <div id="toggle-btn" class="fas fa-sun"></div>
      </div>
      <div class="profile">
        <img src="/IMG/pic-1.jpg" alt="">
        <h3><%= user ? user.name : 'Guest' %></h3>
        <span>Student</span>
        <% if (user) { %>
        <a href="profile.html" class="btn">View Profile</a>
        <% } else { %>
        <div class="flex-btn">
          <a href="login.html" class="option-btn">Login</a>
          <a href="register.html" class="option-btn">Register</a>
        </div>
        <% } %>
      </div>
    </section>
  </header>
  