<!DOCTYPE html>
<html lang="en">
<head id="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <!-- add the CSS -->
    <link rel="stylesheet" href="../CSS/style.css">
    <!-- FOnt Awesome Link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>Login Page</title>
</head>
<body>
    <!-- header section Starts -->
    <header class="header"></header>
    <!-- header section ends -->
    <!-- side bar section starts -->
    <div class="side-bar">
        <div class="close-side-bar">
            <i class="fas fa-times"></i>
        </div>

        <div class="profile">
            <img src="/IMG/defaltloginimage.png" alt="">
            <% if (user) { %>
                <h3><%= user.name %></h3>
                <span>Student</span>
                <a href="profile.ejs" class="btn">View Profile</a>
                <a href="/api/auth/logout" class="btn">Logout</a>
            <% } else { %>
                <div class="flex-btn">
                    <a href="login.ejs" class="option-btn">login</a>
                    <a href="register.ejs" class="option-btn">Register</a>
                </div>
            <% } %>
        </div>

        <nav class="navbar">
            <a href="home.ejs"><i class="fas fa-home"></i><span>Home</span></a>
            <a href="about.ejs"><i class="fas fa-question"></i><span>About Us</span></a>
            <a href="courses.ejs"><i class="fas fa-graduation-cap"></i><span>Courses</span></a>
            <a href="teachers.ejs"><i class="fas fa-chalkboard-user"></i><span>Tutors</span></a>
            <a href="blog.ejs"><i class="fas fa-blog"></i><span>Blogs</span></a>
            <a href="contact.ejs"><i class="fas fa-headset"></i><span>Contact Us</span></a>
        </nav>
    </div>
    <!-- side bar section ends -->
    <!-- login section starts -->
    <section class="form-container">
        <form action="/api/auth/login" method="POST">
            <h3>Welcome Back!</h3>
            <p>Your Email<span>*</span></p>
            <input type="email" name="email" placeholder="Enter Your Email" maxlength="100" class="box" required>
            <p>Your Password<span>*</span></p>
            <input type="password" name="password" placeholder="Enter your Password" maxlength="50" class="box" required>
            <input type="submit" value="Login" name="submit" class="btn">
        </form>
    </section>
    <!-- login section ends -->

    <!-- footer section starts -->
    <footer class="footer"></footer>
    <!-- footer section ends -->
    <!-- custom js file link  -->
    <script type="text/javascript" src="../JS/javascript.js"></script>
</body>
</html>
