<!DOCTYPE html>
<html lang="en">
  <head id="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="robots" content="noindex, nofollow" >
    <!-- add the CSS -->
    <link rel="stylesheet" href="../CSS/style.css">
    <!-- FOnt Awesome Link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>Playlist Page</title>
  </head>
  <body>
    <!-- header section Starts -->
    <header class="header"></header>
    <!-- header section ends -->
    <!-- side bar section starts -->
    <div class="side-bar">
        <div class="close-side-bar">
            <i class="fas fa-times"></i>
        </div>

        <div class="profile">
            <img src="/IMG/defaltloginimage.png" alt="">
            <% if (user) { %>
                <h3><%= user.name %></h3>
                <span>Student</span>
                <a href="profile.ejs" class="btn">View Profile</a>
                <a href="/api/auth/logout" class="btn">Logout</a>
            <% } else { %>
                <div class="flex-btn">
                    <a href="login.ejs" class="option-btn">login</a>
                    <a href="register.ejs" class="option-btn">Register</a>
                </div>
            <% } %>
        </div>

        <nav class="navbar">
            <a href="home.ejs"><i class="fas fa-home"></i><span>Home</span></a>
            <a href="about.ejs"><i class="fas fa-question"></i><span>About Us</span></a>
            <a href="courses.ejs"><i class="fas fa-graduation-cap"></i><span>Courses</span></a>
            <a href="teachers.ejs"><i class="fas fa-chalkboard-user"></i><span>Tutors</span></a>
            <a href="blog.ejs"><i class="fas fa-blog"></i><span>Blogs</span></a>
            <a href="contact.ejs"><i class="fas fa-headset"></i><span>Contact Us</span></a>
        </nav>
    </div>


  <!-- side bar section ends -->
  <!-- Playlist section starts -->

  <section class="playlist">
    <h1 class="heading">Playlist Details</h1>

    <div class="row">

      <div class="col">
        <form action="" method="post" class="save-list">
          <button type="submit" name="Save-list"><i class="far fa-bookmark"></i><span>Save Playlist</span></button>
        </form>
        <div class="thumb">
          <span>6 Videos</span>
          <img src="../IMG/thumb-1.png" alt="">
        </div>
      </div>

      <div class="col">
        <div class="tutor">
          <img src="../IMG/pic-2.jpg" alt="">
          <div>
          <h3>John Deo</h3>
          <span>Developer</span>
          </div>
        </div>
        <div class="details">
          <h3>Complete HTML Tutorial</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo asperiores ipsa dolore inventore ullam assumenda quisquam est, quos laudantium a aperiam. Repudiandae ipsa vel laboriosam dolorum temporibus commodi velit minus.</p>
          <div class="date"><i class="fas fa-calendar"></i><span>21-25-2022</span></div>
        </div>
      </div>

    </div>

  </section>

  <!-- Playlist section ends -->

  <!-- videos container section starts -->

   <section class="videos-container">
    <h1 class="heading">Playlist Videos</h1>

    <div class="box-container">

      <a href="watch-video.ejs" class="box">
        <i class="fas fa-play"></i>
        <img src="../IMG/post-1-1.png" alt="">
        <h3>Complete HTML Tutorial (part 01)</h3>
      </a>

      <a href="watch-video.ejs" class="box">
        <i class="fas fa-play"></i>
        <img src="../IMG/post-1-2.png" alt="">
        <h3>Complete HTML Tutorial (part 02)</h3>
      </a>

      <a href="watch-video.ejs" class="box">
        <i class="fas fa-play"></i>
        <img src="../IMG/post-1-3.png" alt="">
        <h3>Complete HTML Tutorial (part 03)</h3>
      </a>

      <a href="watch-video.ejs" class="box">
        <i class="fas fa-play"></i>
        <img src="../IMG/post-1-4.png" alt="">
        <h3>Complete HTML Tutorial (part 04)</h3>
      </a>

      <a href="watch-video.ejs" class="box">
        <i class="fas fa-play"></i>
        <img src="../IMG/post-1-5.png" alt="">
        <h3>Complete HTML Tutorial (part 05)</h3>
      </a>

      <a href="watch-video.ejs" class="box">
        <i class="fas fa-play"></i>
        <img src="../IMG/post-1-6.png" alt="">
        <h3>Complete HTML Tutorial (part 06)</h3>
      </a>

    </div>

   </section>

  <!-- videos container section ends -->

   <!-- footer section starts -->

   
    <footer class="footer"></footer>
    <!-- footer section ends -->
    <!-- custom js file link  -->
    <script type="text/javascript" src="../JS/javascript.js"></script>
  </body>
</html>
