<!DOCTYPE html>
<html lang="en">
  <head id="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="robots" content="noindex, nofollow" >
    <!-- add the CSS -->
    <link rel="stylesheet" href="../CSS/style.css">
    <!-- FOnt Awesome Link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>Register Page</title>
  </head>
  <body>
    <!-- header section Starts -->
    <header class="header"></header>
    <!-- header section ends -->
    <!-- side bar section starts -->
    <div class="side-bar">
        <div class="close-side-bar">
            <i class="fas fa-times"></i>
        </div>

        <div class="profile">
            <img src="/IMG/defaltloginimage.png" alt="">
            <% if (user) { %>
                <h3><%= user.name %></h3>
                <span>Student</span>
                <a href="profile.ejs" class="btn">View Profile</a>
                <a href="/api/auth/logout" class="btn">Logout</a>
            <% } else { %>
                <div class="flex-btn">
                    <a href="login.ejs" class="option-btn">login</a>
                    <a href="register.ejs" class="option-btn">Register</a>
                </div>
            <% } %>
        </div>

        <nav class="navbar">
            <a href="home.ejs"><i class="fas fa-home"></i><span>Home</span></a>
            <a href="about.ejs"><i class="fas fa-question"></i><span>About Us</span></a>
            <a href="courses.ejs"><i class="fas fa-graduation-cap"></i><span>Courses</span></a>
            <a href="teachers.ejs"><i class="fas fa-chalkboard-user"></i><span>Tutors</span></a>
            <a href="blog.ejs"><i class="fas fa-blog"></i><span>Blogs</span></a>
            <a href="contact.ejs"><i class="fas fa-headset"></i><span>Contact Us</span></a>
        </nav>
    </div>

  <!-- side bar section ends -->

<!-- Courses Section starts -->
<section class="courses">
    <h1 class="heading">Our Popular Courses</h1>

    <div class="box-container">

      <div class="box">
        <div class="container">
          <img src="../IMG/science-1.jfif" class="thumb" alt="thumb1">
          <div class="overlay">
            <div class="description">Comprehensive chemistry tutorial covering fundamental concepts, practical applications, and problem-solving techniques.
            </div>
          </div>
        </div>
        <h3 class="title">Chemistry Tutorial</h3>
        <a href="playlist.ejs" class="inline-btn">View Playlist</a>
      </div>

      <div class="box">
        <div class="container">
          <img src="../IMG/science-2.jfif" class="thumb" alt="thumb1">
          <div class="overlay">
            <div class="description">Comprehensive physics tutorial covering mechanics, electromagnetism, optics, and more, designed for clear understanding and practical application.
            </div>
          </div>
        </div>
        <h3 class="title">Physics Tutorial</h3>
        <a href="playlist.ejs" class="inline-btn">View Playlist</a>
      </div>

      <div class="box"> 
        <div class="container">
          <img src="../IMG/science-3.jfif" class="thumb" alt="thumb1">
          <div class="overlay">
            <div class="description">Comprehensive biology tutorial covering key concepts from cells to ecosystems, designed for learners of all levels.
            </div>
          </div>
        </div>
        <h3 class="title">Biology Tutorial</h3>
        <a href="playlist.ejs" class="inline-btn">View Playlist</a>
      </div>

      <div class="box"> 
        <div class="container">
          <img src="../IMG/science-4.jfif" class="thumb" alt="thumb1">
          <div class="overlay">
            <div class="description">Anatomy tutorial covering essential structures and functions of the human body, suitable for learners of all levels.
            </div>
          </div>
        </div>
        <h3 class="title">Anatomy Tutorial</h3>
        <a href="playlist.ejs" class="inline-btn">View Playlist</a>
      </div>

      <div class="box">
        <div class="container">
          <img src="../IMG/science-5.jfif" class="thumb" alt="thumb1">
          <div class="overlay">
            <div class="description">Learn the fundamentals of harnessing solar energy with our comprehensive tutorial.
            </div>
          </div>
        </div>
        <h3 class="title">Solar Energy Tutorial</h3>
        <a href="playlist.ejs" class="inline-btn">View Playlist</a>
      </div>

    </div>
    
  </section>
  <!-- Courses Section ends -->

   <!-- footer section starts -->

    <footer class="footer"></footer>
    <!-- footer section ends -->
    <!-- custom js file link  -->
    <script type="text/javascript" src="../JS/javascript.js"></script>
  </body>
</html>
