<!DOCTYPE html>
<html lang="en">
  <head id="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="robots" content="noindex, nofollow" >
    <!-- add the CSS -->
    <link rel="stylesheet" href="../CSS/style.css">
    <!-- FOnt Awesome Link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>Teachers Page</title>
  </head>
  <body>
    <!-- header section Starts -->
    <header class="header"></header>
    <!-- header section ends -->
    <!-- side bar section starts -->
    <div class="side-bar">
        <div class="close-side-bar">
            <i class="fas fa-times"></i>
        </div>

        <div class="profile">
            <img src="/IMG/defaltloginimage.png" alt="">
            <% if (user) { %>
                <h3><%= user.name %></h3>
                <span>Student</span>
                <a href="profile.ejs" class="btn">View Profile</a>
                <a href="/api/auth/logout" class="btn">Logout</a>
            <% } else { %>
                <div class="flex-btn">
                    <a href="login.ejs" class="option-btn">login</a>
                    <a href="register.ejs" class="option-btn">Register</a>
                </div>
            <% } %>
        </div>

        <nav class="navbar">
            <a href="home.ejs"><i class="fas fa-home"></i><span>Home</span></a>
            <a href="about.ejs"><i class="fas fa-question"></i><span>About Us</span></a>
            <a href="courses.ejs"><i class="fas fa-graduation-cap"></i><span>Courses</span></a>
            <a href="teachers.ejs"><i class="fas fa-chalkboard-user"></i><span>Tutors</span></a>
            <a href="blog.ejs"><i class="fas fa-blog"></i><span>Blogs</span></a>
            <a href="contact.ejs"><i class="fas fa-headset"></i><span>Contact Us</span></a>
        </nav>
    </div>
  <!-- side bar section ends -->
  <!-- Teachers section starts -->

  <section class="teachers">

    <h1 class="heading">Expert Tutors</h1>
    <form action="" method="post" class="search-tutor">
      <input type="text" name="search_box" maxlength="100" placeholder="Search tutor....." required>
      <button type="submit" name="search_tutor" class="fas fa-search"></button>
    </form>

    <div class="box-container">

      <div class="box offer">
        <h3>Become a Tutor</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi quibusdam consequatur quas? Optio rerum dignissimos et, nemo perferen</p>
        <a href="register.ejs" class="inline-btn">Get Started</a>
      </div>

      <div class="box">
        <div class="tutor">
          <img src="../IMG/pic-2.jpg" alt="">
          <div>
            <h3>John Deo</h3>
            <span>Developer</span>
          </div>
        </div>
        <p>Playlist: <span>4</span></p>
        <p>Total Videos: <span>18</span></p>
        <p>Total Likes: <span>1208</span></p>
        <a href="teacher_profile.ejs" class="inline-btn">View Profile</a>
      </div>

      <div class="box">
        <div class="tutor">
          <img src="../IMG/pic-3.jpg" alt="">
          <div>
            <h3>John Deo</h3>
            <span>Developer</span>
          </div>
        </div>
        <p>Playlist: <span>4</span></p>
        <p>Total Videos: <span>18</span></p>
        <p>Total Likes: <span>1208</span></p>
        <a href="teacher_profile.ejs" class="inline-btn">View Profile</a>
      </div>

      <div class="box">
        <div class="tutor">
          <img src="../IMG/pic-4.jpg" alt="">
          <div>
            <h3>John Deo</h3>
            <span>Developer</span>
          </div>
        </div>
        <p>Playlist: <span>4</span></p>
        <p>Total Videos: <span>18</span></p>
        <p>Total Likes: <span>1208</span></p>
        <a href="teacher_profile.ejs" class="inline-btn">View Profile</a>
      </div>

      <div class="box">
        <div class="tutor">
          <img src="../IMG/pic-5.jpg" alt="">
          <div>
            <h3>John Deo</h3>
            <span>Developer</span>
          </div>
        </div>
        <p>Playlist: <span>4</span></p>
        <p>Total Videos: <span>18</span></p>
        <p>Total Likes: <span>1208</span></p>
        <a href="teacher_profile.ejs" class="inline-btn">View Profile</a>
      </div>

      <div class="box">
        <div class="tutor">
          <img src="../IMG/pic-6.jpg" alt="">
          <div>
            <h3>John Deo</h3>
            <span>Developer</span>
          </div>
        </div>
        <p>Playlist: <span>4</span></p>
        <p>Total Videos: <span>18</span></p>
        <p>Total Likes: <span>1208</span></p>
        <a href="teacher_profile.ejs" class="inline-btn">View Profile</a>
      </div>

      <div class="box">
        <div class="tutor">
          <img src="../IMG/pic-7.jpg" alt="">
          <div>
            <h3>John Deo</h3>
            <span>Developer</span>
          </div>
        </div>
        <p>Playlist: <span>4</span></p>
        <p>Total Videos: <span>18</span></p>
        <p>Total Likes: <span>1208</span></p>
        <a href="teacher_profile.ejs" class="inline-btn">View Profile</a>
      </div>

      <div class="box">
        <div class="tutor">
          <img src="../IMG/pic-8.jpg" alt="">
          <div>
            <h3>John Deo</h3>
            <span>Developer</span>
          </div>
        </div>
        <p>Playlist: <span>4</span></p>
        <p>Total Videos: <span>18</span></p>
        <p>Total Likes: <span>1208</span></p>
        <a href="teacher_profile.ejs" class="inline-btn">View Profile</a>
      </div>

      <div class="box">
        <div class="tutor">
          <img src="../IMG/pic-1.jpg" alt="">
          <div>
            <h3>John Deo</h3>
            <span>Developer</span>
          </div>
        </div>
        <p>Playlist: <span>4</span></p>
        <p>Total Videos: <span>18</span></p>
        <p>Total Likes: <span>1208</span></p>
        <a href="teacher_profile.ejs" class="inline-btn">View Profile</a>
      </div>

    </div>

  </section>

  <!-- Teachers section ends -->

   <!-- footer section starts -->

   
    <footer class="footer"></footer>
    <!-- footer section ends -->
    <!-- custom js file link  -->
    <script type="text/javascript" src="../JS/javascript.js"></script>
  </body>
</html>
