<!DOCTYPE html>
<html lang="en">
  <head id="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="robots" content="noindex, nofollow" >
    <!-- add the CSS -->
    <link rel="stylesheet" href="../CSS/style.css">
    <!-- FOnt Awesome Link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>About</title>
  </head>
  <body>
    <!-- header section Starts -->
    <header class="header"></header>
    <!-- header section ends -->
    <!-- side bar section starts -->
    <div class="side-bar">
        <div class="close-side-bar">
            <i class="fas fa-times"></i>
        </div>

        <div class="profile">
            <img src="/IMG/defaltloginimage.png" alt="">
            <% if (user) { %>
                <h3><%= user.name %></h3>
                <span>Student</span>
                <a href="profile.ejs" class="btn">View Profile</a>
                <a href="/api/auth/logout" class="btn">Logout</a>
            <% } else { %>
                <div class="flex-btn">
                    <a href="login.ejs" class="option-btn">login</a>
                    <a href="register.ejs" class="option-btn">Register</a>
                </div>
            <% } %>
        </div>

        <nav class="navbar">
            <a href="home.ejs"><i class="fas fa-home"></i><span>Home</span></a>
            <a href="about.ejs"><i class="fas fa-question"></i><span>About Us</span></a>
            <a href="courses.ejs"><i class="fas fa-graduation-cap"></i><span>Courses</span></a>
            <a href="teachers.ejs"><i class="fas fa-chalkboard-user"></i><span>Tutors</span></a>
            <a href="blog.ejs"><i class="fas fa-blog"></i><span>Blogs</span></a>
            <a href="contact.ejs"><i class="fas fa-headset"></i><span>Contact Us</span></a>
        </nav>
    </div>

  <!-- side bar section ends -->
  <!-- view blog section starts -->

  <section class="view-blog">

    <div class="box-container">
        <h1 class="heading">Learning is what makes you perfect</h1>
        <div class="icons">
            <a href="#"> <i class="fas fa-clock"></i> 21st may, 2021 </a>
            <a href="#"> <i class="fas fa-user"></i> by admin </a>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsum doloremque, eum distinctio asperiores est iste nihil eos natus consequatur rerum molestias recusandae ullam excepturi nesciunt nobis labore, laborum perferendis totam magni corrupti cupiditate. Repudiandae eaque error commodi accusamus asperiores dolores soluta culpa sed cum consectetur provident, perferendis delectus quisquam et itaque qui, non omnis, facilis eos alias nisi. Alias, consectetur ratione suscipit quasi dolorum harum architecto enim neque, vitae quaerat fuga, ipsam voluptatibus error explicabo saepe! Laboriosam doloremque dolorem sit sint pariatur, quidem iusto nostrum ullam dolorum nulla quod ratione illo minus veritatis eius iste cumque ipsa expedita est laudantium corporis? Explicabo ut culpa, minima blanditiis optio sit, architecto reprehenderit quia id officia sed, et laborum. Debitis accusantium optio dolor, nesciunt molestias impedit. Dolore molestias aspernatur natus, quibusdam similique fugiat eaque veritatis quod quia, repellendus itaque quo sed. Est voluptas, voluptatum eaque ad molestias inventore quae praesentium nam voluptatibus dolorum non ipsam debitis, pariatur laboriosam vero a quo! Odit expedita, architecto nisi eius enim, magni harum quos, aperiam fugiat molestiae eligendi exercitationem ea consectetur non accusantium ex id quod nemo qui hic. Illo pariatur quibusdam iusto obcaecati ipsam labore iste ut quo sit. Rem aliquam ipsum expedita. Sapiente, et.
        </p>
    </div>

  </section>

  <!-- view blog section ends -->

   <!-- footer section starts -->

    <footer class="footer"></footer>

    <!-- footer section ends -->

    <!-- custom js file link  -->
    <script type="text/javascript" src="../JS/javascript.js"></script>
  </body>
</html>
